! special
*.foreground:   #ffe9c7
*.background:   #1a1515
*.cursorColor:  #ffe9c7

! black
*.color0:       #2d2424
*.color8:       #725a5a

! red
*.color1:       #cf2241
*.color9:       #e3556f

! green
*.color2:       #f07942
*.color10:      #f49d75

! yellow
*.color3:       #e39c45
*.color11:      #edbf86

! blue
*.color4:       #949f6b
*.color12:      #b0b893

! magenta
*.color5:       #716c97
*.color13:      #9894b3

! cyan
*.color6:       #ae3f8a
*.color14:      #ca6bac

! white
*.color7:       #9c8181
*.color15:      #ffe9c7
