/**
 * @name Biscuit
 * @description Warm colorscheme for the forest dwellers.
 * @author tsukki9696
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 227, 137, 69;
  --accentcolor2: 240, 104, 66;
  --linkcolor: 150, 143, 107;
  --mentioncolor: 174, 63, 115;
  --textbrightest: 255,233,199;
  --textbrighter: 255,233,199;
  --textbright: 255,214,153;
  --textdark: 162,138,103;
  --textdarker: 139,118,85;
  --textdarkest: 114,97,70;
  --backgroundaccent: 45,36,36;
  --backgroundprimary: 26,21,21;
  --backgroundsecondary: 45,36,36;
  --backgroundsecondaryalt: 69, 54, 54;
  --backgroundtertiary: 26,21,21;
  --backgroundfloating: 26,21,21;
  --settingsicons: 1;
}

/* Any custom CSS below here */

.tutorialContainer-2jwoiB, .scrollerBase-1Pkza4.none-1rXy4P.scroller-3X7KbA > div.listItem-3SmSlK:nth-of-type(5) {
  display: none !important;
}

* {
  font-family: gg sans;
}
.codeContainer-2LCL7Y {
  font-family: Jetbrains Mono;
}
